
@import url('https://fonts.googleapis.com/css?family=Questrial');

html {
  font-family: 'Questrial', sans-serif;
}

a {
  text-decoration: none;
}

/* ----- PORTFOLIO ----- */

.portfolio {
  background: url(../img/arrigo-wide.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  margin: 0;
  text-shadow: 2px 2px 2px #888;
  font-size: 500%;
  position: absolute;
  color: white;
  top: 50px;
  left: 50px;
}

div {
  position: absolute;
  font-size: 300%;
  bottom: 50px;
  left: 50px;
  text-shadow: 2px 2px 2px #333;
}

.portfolio a {
  color: black;
}

.portfolio a:hover {
  color: red;
}

/* ----- PROJECTS ----- */

.projects {
  background-color: #111;
}

.projects body {
    width: 100%;
    height: 100%;
}

ul {
  position: absolute;
  left: 300px;
  top: 80px;
}

li {
  font-size: 32px;
  padding: 10px;
  list-style-type: none;
  color: white;
}

.projects div span {
  color: red;
}

.projects div a {
  color: red;
  text-shadow: 2px 2px 2px #222;
}

.projects div a:hover {
  color: #444;
}

.projects a {
  color: white;
}

.projects li span {
  color: red;
  text-shadow: 2px 2px 2px #222;
}

.projects li span:hover {
  color: #444;
}

@media (max-width: 500px) {
  .portfolio {
    background: url(../img/arrigo.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  h1 {
    text-shadow: 2px 2px 2px #888;
    font-size: 200%;
    position: absolute;
    color: white;
    top: 40px;
    left: 40px;
  }

  .portfolio div {
    font-size: 200%;
    bottom: 40px;
    left: 40px;
  }
    
    .projects ul {
        position: relative;
        left: 0;
        top: 75;
        float: left;
        margin: 0 auto;
        margin-top: 50px;
    }
    
    .projects li {
        font-size: 150%;
    }

}
